<!-- <header>

      <div class="d-flex flex-row col-1 col-sm-2 col-md-1 col-lg-6 col-xl-2">
        <button>ورود >ثبت نام</button>
        <img src="assets/4photoshop-icon-shopping-cart-آیکون-سبد-خرید.jpg" height="30px"width="30px"  alt=""/>



      <div class="d-flex col-2 col-sm-4 col-md-3 col-lg-2 col-xl-1" id="search" >
        <img src="assets/images.png" alt="" width="60px" height="30">
        <input type="search" placeholder="جستو "  id="search">
         <img src="assets/search_FILL0_wght400_GRAD0_opsz24.png" alt=""/>






<div class=" row m-0 p-0">
    <div class="d-flex flex-row  col-sm-3 col-md-3 col-lg-3 col-xl-3 bg-dark">
      <img src="assets/0d2d0224a878f04b1b950dbcb61fec94b87d0fba_1695710628.png" style="height:52px ; width: 52px;" alt="">
      <p>حراج سر ماه </p>
    <div class="d-flex flex-row col-sm-3  col-md-3 col-lg-3 col-xl-3 bg-warning ">
      <img src="assets/j.png" style="height:52px ; width: 52px;" alt="">
      <p>دیجی کالاچت</p>
    <div class="d-flex flex-row  col-sm-3  col-md-3 col-lg-3 col-xl-3 bg-primary">
      <img src="assets/53189ead935d8d5492799988577646d159c13d17_1695888594.png" style="height:52px ; width: 52px;" alt="">
      <p>خرید برنده</p>
    </div>
    <div class="d-flex flex-row col-sm-3  col-md-3 col-lg-3 col-xl-3 bg-success">
      <img src="assets/ac127167132653d14c758748b07824a6a7643a31_1663444619.png" style="height:52px ; width: 52px;" alt="">
      <p>دیجی پی</p>
    </div>
    <div class="d-flex flex-row col-sm-3  col-md-3 col-lg-3 col-xl-3 subtle">
      <img src="assets/d3ef1e7e6dd2189d4c1468c8998b24b4ec5bcc45_1683402274.png" style="height:52px ; width: 52px;" alt="">
      <p>لاکی باکس</p>
    </div>
    <div class="d-flex flex-row  col-sm-3  col-md-3 col-lg-3 col-xl-3 bg-info">
      <img src="assets/e8c1c372a304dc7c6ed600a6d4eb017f2aaea8cd_1697297561.png" style="height:52px ; width: 52px;" alt="">
      <p>گیم نت</p>
    </div>
    <div class="d-flex flex-row  col-sm-3  col-md-3 col-lg-3 col-xl-3 bg-dark">
      <img src="assets/bfcafaf7f0afffbfd326adc48e29e3449dd69910_1688462197.png" style="height:52px ; width: 52px;" alt="">
      <p>خرید امروز</p>
      </div>
    <div class="d-flex flex-row col-sm-3  col-md-3 col-lg-3 col-xl-3 bg-danger">
      <img src="assets/(1).jpg" style="height:52px ; width: 52px;" alt="">
      <p>بیشتر</p>
    </div>



</div>
<br><br><br><br><br>
<main>


<div  class="  col-sm-3  col-md-3 col-lg-4 col-xl-2" style="display: block;">
<img src="assets/images.png" alt="" height="80px" width="80px">
<p>سلام!
لطفاشماره موبایل یا ایمیل خود را وارد کنید
</p>
<input type="text" placeholder="//">
<p >لطفا این قسمت خالی نذارید</p>
<input type="submit" value="ورود" style="color: red;">
<p>ورود شما به معنای پذیرش شرایط دیجی کالا وقوانین حریم خصوصی است.</p>
</div>
<br><br><br><br>
<div class=" col-sm-3  col-md-3 col-lg-2 col-xl-4" style="display: block;">
<p>اطلاع رسانی ها</p>
<h3>اسامی برندگان قرعه کشی کمپین(عیدی صد میلیون)</h3>
<time >1402 24خرداد</time>
<img src="assets/otaghKhabar-resize.jpg" alt="" height="100px" width="100px">
</div>
<br><Br><br><br>


<div class="d-flex  position-relative  "  >
  <img src="assets/mobile.jpg"  alt="" style="height: 50px;width: 50px;" >
</div>

<div class=" col-sm-3  col-md-3 col-lg-2 col-xl-4 bg-danger " style="background-color: blue;" >
<h4>موبایل شیامی:</h4>
<input type="color" placeholder="color">
<p>ویژگی ها:</p>
<ul>
  <li>سری پردازنده </li>
  <li>ظرفیت حافظه رم</li>
  <li>ظرفیت حافظه داخلی</li>
  <li>سازنده پردازنده گرافیکی </li>
  <li>دقت صفحه نمایش</li>
</ul>
</div><div >
      <img src="assets/image_2023-11-16_12-10-52.png" alt=""height="200px"width="200px">
    <div class="d-flex justify-content-between">
     <span class="bg-primary" style="width: fit-content;height: fit-content; border-radius: 5pc;">buy</span>
  </div>
    <div >
      <img src="assets/1-46-600x600.jpg" alt=""height="200px"width="200px">
    <div class="d-flex justify-content-between">
         <span class="bg-primary" style="width: fit-content;height: fit-content; border-radius: 5pc;">buy</span>
  </div>
    <div>
      <img src="assets/-5958340179519454859_121.jpg" alt=""height="200px"width="200px">
    <div class="d-flex justify-content-between">
    <span class="bg-primary" style="width: fit-content;height: fit-content; border-radius: 5pc;">buy</span>
    </div>
    <p *ngIf="name == 'ali'">{{name ? name :'red'}}</p>
<p *ngFor="let name of names">{{name ? name : 'green'}}</p>
<p *ngFor="let userArr of userArr ">{{userArr.name ? userArr.name: 'bond 5G'}}</p>


<div *ngFor="let userAr of userArr">
  <p>{{userAr.colors.namecolor == 'blue' ? userArr : 'bond 5G'}}</p>
</div>
   <div *ngFor="let insurance of userArr">
        <label [for]="insurance.cpu">{{insurance.name}}</label>
        <input [id]="insurance.gpu" type="submit"  />
      </div>

      <div *ngFor="let date of userArr">
        <label for="date">{{date.name}}</label>
        <input [id]="date.name" type="date" placeholder="date"/>
      </div>
    <img src="assets/1-46-600x600.jpg" alt=""/>
    <img src="assets/image_2023-11-16_12-10-52.png" alt=""/>
    <img src="assets/-5958340179519454859_121.jpg" alt=""/>
-->

<!--
<h1>which desktop is right for you?</h1>
<P><a href="" target="_self">compare all mac models></a></P>
<div *ngIf="userArr && userArr.length>0" class="row m-0 p-0">
  <div *ngFor="let product of userArr" class=" col-sm-3 col-md-3 col-lg-3  card">
    <img [src]="product.imge" alt=""/>
 <div class="d-flex flex-column justify-content-between">
    <p>{{product.name ? product.name : 'mac studio'}}</p>
    <p>{{product.mac}}</p>
      <p>{{product.cost}}</p>
         <p>{{product.cpu}}</p>
            <p>{{product.gpu}}</p>
               <p>{{product.unifiedmemory}}</p>
    </div>
</div>
</div>
<br><br><br><br>

<div class="f" style="background-color: black;">
<h1 style="color: white;">A MacBook Pro for everyone.</h1>
<div *ngIf="userArr && userArr1.length>0" class="row m-0 p-0">
  <div *ngFor="let product of userArr1" class="row p-0 col-sm-3 col-md-3 col-lg-3  card">
    <img [src]="product.imgee" alt=""/>
    <img [src]="product.imgeee"alt=""  width="1pc" height="20pc" />
 <div  class="d-flex flex-column justify-content-between  bg-dark ">
    <p style="color: white;">{{product.name ? product.name : 'M3 chip'}}</p>
    <p style="color: white;">{{product.color}}</p>
    <p style="color: white;">{{product.color2}}</p>
    <p style="color: white;">{{product.support}}</p>
    <p style="color: white;">{{product.battery}}</p>
    </div>
    </div>
</div>
</div> -->
<p>product-list works!</p>
<div class="r-0 p-0">
<div class="txt txt-danger col-12">
  <app-header></app-header>

<button routerLink="/user/list" class="btn btn-danger">rrrr</button>
</div>
<div class="txt txt-primary col-8 ">
  <app-sidebar></app-sidebar>
  <button routerLink="/product/add"class="btn btn-danger">r</button>

</div>
<div class="txt txt-danger col-4">
  <router-sidebar></router-sidebar>
</div>
<div class="tex txt-primary col-12">
  <button routerLink="/product/list "class="btn btn-danger">hh</button>
  <app-footer></app-footer>
</div>
</div>
<router-outlet></router-outlet>
